{% extends 'users.html.twig' %}

{% block title %}Modification du Mot de passe de {{app.user.name}} {{app.user.firstname}}{% endblock %}

{% block body %}
<div class="container grix xs4">
{% for message in app.flashes('error') %}
<div class="p-3 my-2 rounded-1 error light-4 text-dark text-dark-4">{{ message }}</div>
{% endfor %}
    <h1 class="col-xs4">Modification du Mot de passe de {{app.user.name}} {{app.user.firstname}}</h1>
    <form method="post">
        <div class="form-field">
            <label for="pass">Mot de passe</label>
            <input type="password" id="pass" name="pass" class="form-control rounded-1" placeholder="******" />
        </div>
        <div class="form-field">
            <label for="pass2">Confirmer votre mot de passe</label>
            <input type="password" id="pass2" name="pass2" class="form-control rounded-1" placeholder="******" />
        </div>
        <button class="btn btn-primary">Valider</button>
    </form>
</div>
{% endblock %}