{% extends 'users.html.twig' %}

{% block title %}Profil de {{app.user.name}} {{app.user.firstname}}{% endblock %}

{% block body %}
<div class="container grix xs4">
  {% for message in app.flashes('message') %}
  <div class="p-3 my-2 rounded-1 green light-4 text-green text-dark-4">{{ message }}</div>
  {% endfor %}
  <h2 class="col-xs4">Bienvenu sur votre profil {{app.user.firstname}} {{app.user.name}} </h2>
  <div class="col-xs1">Nom :</div>
  <div class="col-xs3">{{app.user.name}}</div>
  <div class="col-xs1">Prénom :</div>
  <div class="col-xs3">{{app.user.firstname}}</div>
  <div class="col-xs1">Email :</div>
  <div class="col-xs3">{{app.user.email}}</div>
  <div class="col-xs4">
    <a href="{{ path('users_profile_edit') }}" class="btn btn-info">Modifier le profil</a>
    <a href="{{ path('users_password_edit') }}" class="btn btn-warning">Modifier le mot de passe</a>
    <a href="{{ path('admin_home') }}" class="btn btn-success">Passer en mode admin</a>

  </div>
  <h3 class="col-xs4">Annonces de {{app.user.firstname}} {{app.user.name}} ({{ app.user.annonces|length }})</h3>
  {% for annonce in app.user.annonces %}
  <div class="card" style="width: 12rem; height:24rem;">
    <img
      src="{{ (annonce.imageName ? vich_uploader_asset(annonce) : asset('uploads/placeholder.jpg'))  | imagine_filter('annonce_thumbnail') }}"
      class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{annonce.title}}</h5>
      <p class="card-text">{{annonce.categories}}</p>
      <p class="card-text">{{annonce.content |u.truncate( 20 , '...')}}</p>
      <a href="{{ path('app_annonce_delete', {id: annonce.id})}}" class="btn btn-danger">Supprimer</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}